<main class="container">

  <div class="row my-4">
    <div class="col-md-9">
      <div class="row border-bottom pb-5 mr-3 mt-5">
        <div class="col-md-5 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-7 pl-4">
          <p><a href="#" class="title">Project Title</a></p>
          <div class="d-flex justify-content-between">
            <p class="date"><i class="far fa-clock text-yellow pr-2"></i>November 16, 2020</p>
            <p class="owner"><i class="far fa-user text-yellow pr-2"></i>Nakitto Catherine</p>
          </div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="row border-bottom pb-5 mr-3 mt-5">
        <div class="col-md-5 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-7 pl-4">
          <p><a href="#" class="title">Project Title</a></p>
          <div class="d-flex justify-content-between">
            <p class="date"><i class="far fa-clock text-yellow pr-2"></i>November 16, 2020</p>
            <p class="owner"><i class="far fa-user text-yellow pr-2"></i>Nakitto Catherine</p>
          </div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="row border-bottom pb-5 mr-3 mt-5">
        <div class="col-md-5 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-7 pl-4">
          <p><a href="#" class="title">Project Title</a></p>
          <div class="d-flex justify-content-between">
            <p class="date"><i class="far fa-clock text-yellow pr-2"></i>November 16, 2020</p>
            <p class="owner"><i class="far fa-user text-yellow pr-2"></i>Nakitto Catherine</p>
          </div>
          <div class="desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem
            Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="my-5 d-flex justify-content-center">
        <button class="btn shadow more-projects">Load more Projects <i class="fas fa-arrow-right"></i></i></button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row border-bottom">
        <p class="pt-3 popular"><strong>Popular this week</strong></p>
      </div>
      <div class="row pb-4 mt-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="our-courses">
    <div class="row border-bottom">
      <p class="pt-3 popular"><strong>Free Courses to checkout</strong></p>
    </div>
    <div class="row my-5">
      <div class="col-md-3">
        <div class="bg-dark shadow rounded py-5 mb-3">Course Image</div>
        <p><a href="#" class="title">Project Title</a></p>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing.
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-dark shadow rounded py-5 mb-3">Course Image</div>
        <p><a href="#" class="title">Project Title</a></p>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing.
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-dark shadow rounded py-5 mb-3">Course Image</div>
        <p><a href="#" class="title">Project Title</a></p>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing.
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-dark shadow rounded py-5 mb-3">Course Image</div>
        <p><a href="#" class="title">Project Title</a></p>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing, Lorem ipsum dolor sit amet, consectetur adipiscing.
        </div>
      </div>
    </div>
  </div>

  <div class="newsletter my-5 py-5 yellow-bg shadow rounded">
    <h3 class="text-center w-50 mx-auto">Ongoing projects Newsletter -- Stay Informed.</h3>
    <p class="text-center">Sign up for all your favourite projects' news to get all updates straight to your inbox.</p>
    <div class="text-center">
      <form class="form d-flex w-50 mx-auto">
        <input type="text" class="form-control" place-holder="Your email address">
        <button class="btn news-btn"><i class="fas fa-chevron-right"></i></button>
      </form>
    </div>
  </div>
</main>