body {
  font-size: 1em;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
}

.black-bg {
  background: #111820;
}

.black-bg a {
  color: #f3aa4e;
}

.yellow-bg {
  background: #f3aa4e;
}

.text-black {
  color: #111820;
}

.text-yellow {
  color: #f3aa4e;
}