body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
}

.black-bg {
  background: #111820;
}

.black-bg a {
  color: #6c757d !important
}

.yellow-bg {
  background: #f3aa4e;
}

.text-black {
  color: #111820;
}

.text-yellow {
  /* color: #f3aa4e; */
  color: #f28d0f;
}

footer a {
  line-height: 2.2;
}

.form-control {
  height: 2.7em !important;
}

[type="submit"] {
  color: #111820;
  font-weight: bold;
  background: #f3aa4e;
  border: none;
}

.title {
  font-size: 1.17em;
  font-weight: bold;
  color: #111820;
  text-decoration: underline;
  text-decoration-color: #f3aa4e;
}

.popular {
  font-size: 1.17em;
  font-weight: bold;
}

.date, .owner {
  font-size: 0.85em;
  font-weight: bold;
}

button.more-projects {
  background: #f3aa4e;
  font-weight: bold;
  padding: 1em 2em;
}

.desc {
  line-height: 1.6;
  font-size: 0.95em;
}

.desc-link {
  font-weight: bold;
  font-size: 0.87em;
}

*, p, a, 
nav, 
button, 
footer, 
form, 
h3, h1, h2, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

h3 {
  font-weight: 600;
}

button.news-btn {
  border: none;
  color: #ffffff;
  background: #f28d0f;
  padding: 0 1em;
  height: 35px;
  margin: 4px 0 0 -2.9em;
  z-index: 99;
}

.newsletter {
  border: 10px solid #f28d0f;
}

.newsletter input {
  border: none;
}

.line {
  height: 3px;
  background: #f28d0f;
  width: 80px;
  margin: 0 3em 0 0;
}

.login-form label,
.login-form input{
  width: 100%;
}

.login-form input {
  margin: 0 0 1em 0;
  height: 2.7em;
}

.login-form [type="submit"] {
  height: 3em;
  border-radius: 0.25rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  /* background: #111820; */
  /* color: #f28d0f; */
}