body {
  font-size: 1em;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
}

.black-bg {
  background: #111820;
}

.black-bg a {
  color: #f3aa4e;
}

.yellow-bg {
  background: #f3aa4e;
}

.text-black {
  color: #111820;
}

.text-yellow {
  color: #f3aa4e;
}

footer a {
  line-height: 2.2;
}

.form-control {
  height: 2.7em !important;
}

[type="submit"] {
  color: #111820;
  font-weight: bold;
  background: #f3aa4e;
  border: none;
}

.title {
  font-size: 1.17em;
  font-weight: bold;
  color: #111820;
  text-decoration: underline;
  text-decoration-color: #f3aa4e;
}

.popular {
  font-size: 1.17em;
  font-weight: bold;
}

.date, .owner {
  font-size: 0.85em;
  font-weight: bold;
}

button.more-projects {
  background: #f3aa4e;
  font-weight: bold;
  padding: 1em 2em;
}

.desc {
  line-height: 1.6;
  font-size: 0.95em;
}

.desc-link {
  font-weight: bold;
  font-size: 0.87em;
}

p, 
nav, 
button, 
footer {
  font-family: 'Source Sans Pro', sans-serif;
}