<footer class="black-bg pt-5 pb-3">
      <div class="container">
        <div class="row pb-4 pt-3 mb-4 text-muted">
          <div class="col-md-3">
            <div class="d-flex flex-column pb-3">
              <i class="fab fa-twitter fa-2x pb-2" style="color: #1da1f2;"></i>
              <p>100 Followers</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column pb-3">
              <i class="fab fa-facebook-f fa-2x pb-2" style="color: #4267b2;"></i>
              <p>100 Followers</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column pb-3">
              <i class="fab fa-linkedin-in fa-2x pb-2" style="color: #007bb6;"></i>
              <p>100 Followers</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column pb-3">
              <i class="fab fa-youtube fa-2x pb-2" style="color: #ce332d;"></i>
              <p>100 Subscribers</p>
            </div>
          </div>
        </div>
        <div class="row border-bottom border-dark pb-4 mb-4">
          <div class="col-md-3">
            <div class="d-flex flex-column">
              <p class="text-yellow font-weight-bold">About</p>
              <a href="#">About Us</a>
              <a href="#">Advertising</a>
              <a href="#">Editorial Team</a>
              <a href="#">Contact</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column">
              <p class="text-yellow font-weight-bold">Pages</p>
              <a href="#">RSS Feeds</a>
              <a href="#">Deals Store</a>
              <a href="#">Privacy Policy</a>
              <a href="#">Copyright Policy</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column">
              <p class="text-yellow font-weight-bold">Deals</p>
              <a href="#">Exclusives</a>
              <a href="#">Development</a>
              <a href="#">React</a>
              <a href="#">Projects</a>
            </div>
          </div>
          <div class="col-md-3">
            <div class="d-flex flex-column pb-3">
              <p class="px-4 border border-dark rounded">
                <a href="#">
                  <i class="fas fa-rss-square mr-2"></i>
                  RSS Feeds
                </a>
              </p>
              <p class="px-4 border border-dark rounded">
                <a href="#">
                  <i class="fas fa-envelope-square mr-2"></i>
                  Contact Us
                </a>
              </p>
              <p class="px-4 border border-dark rounded">
                <a href="#">
                  <i class="fab fa-telegram mr-2"></i>
                  Telegram Channel
                </a>
              </p>
            </div>
          </div>
        </div>
        <p class="text-muted">
          &copy; The iDea++, 2020. All Rights Reserved.
        </p>
      </div>
    </footer>