<header>
      <nav>
        <div class="black-bg">
          <div class="container">
            <ul class="d-flex justify-content-end">
              <li><a class="nav-link" href="">Follow us</a></li>
              <li><a class="nav-link" href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="nav-link" href=""><i class="fab fa-twitter"></i></a></li>
              <li><a class="nav-link" href=""><i class="fab fa-linkedin-in"></i></a></li>
              <li><a class="nav-link" href=""><i class="fab fa-youtube"></i></a></li>
              <li><a class="nav-link" href=""><i class="fas fa-rss"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="yellow-bg mt-n3">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center">
              <a href="/" class="logo text-black">iDea++</a>
              <a href="#" class="black-bg text-yellow px-4 rounded py-2 shadow">Subscribe to Newsletter</a>
            </div>
          </div>
        </div>
        <div class="bg-light">
          <div class="container">
            <ul class="d-flex justify-content-between">
              <li><a class="nav-link text-black" href="#">Home</a></li>
              <li><a class="nav-link text-black" href="#">About Us</a></li>
              <li><a class="nav-link text-black" href="#">Our Team</a></li>
              <li><a class="nav-link text-black" href="#">Projects</a></li>
              <li><a class="nav-link text-black" href="#">Offers</a></li>
              <li><a class="nav-link text-black" href="#">Advertise</a></li>
              <% if current_user %>
              <li><a href="#" class="nav-link text-black"><%= current_user.email %></a></li>
              <li><%= link_to "Log Out", logout_path, class: 'nav-link text-black' %></li>
              <% else %>
                <li><%= link_to "Sign Up", signup_path, class: 'nav-link text-black' %></li>
                <li><%= link_to "Log In", login_path, class: 'nav-link text-black' %></li>
              <% end %>
              <li><a class="nav-link text-black" href="#"><i class="fas fa-search"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>