<div class="col-md-3">
      <div class="row border-bottom">
        <p class="pt-3 popular"><strong>Popular this week</strong></p>
      </div>
      <div class="row pb-4 mt-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col-md-3 bg-dark shadow rounded">Project Image</div>
        <div class="col-md-9 pl-3">
          <div class="desc-link text-yellow">
            Lorem ipsum dolor sit amet, consectetur adipiscing.
          </div>
        </div>
      </div>
    </div>